
body{
	background-color:#FFF;
	word-spacing:1px;
	line-height:25px;
	letter-spacing:1px;
	text-indent:0.7px;
	font-family:arial, helvetica, sans-serif;

}
#cookie
{
	color:#FFF;
	background-color:#FA0;
	opacity:50%;
	z-index:9999;
}
nav > ul{
		list-style:none;

	}
nav  ul  li{
		display:inline;
		margin:25px;
	}
nav > ul > li > a{
		color:#c4151c;
		font-family: 'Notable', sans-serif;
		text-decoration:none;
	}

nav > ul > li > a:hover{
		color:#0A36AF;
		text-decoration:none;
}
nav > ul > li > a:active{
		color:#42D71B;
		text-decoration:none;
}

video::-webkit-media-controls-panel
{
	display: none;
	opacity: 1;
	clear:both;
}
main
{	border-style:solid;
	border-color:#0A36AF;
	border-width:4px;
}
header{
	border-style:double;
	border-color:#42D71B;
	background-color:#0A36AF;
	border-width:4px;
	text-align:center;
	color:#FFF;
	font-size:1.5em;
	text-transform:uppercase;
	font-family: 'Notable', sans-serif;
}
#products{
	background-color:#FFF;
}
.captions{
	font-size:0.7em;
	
}
#aboutTicket{
	font-family:'Notable', sans-serif;
	color:#0A36AF;
	text-align:center;
}
tr{
	background-color:red;
}
tr:first-child{
	color:#FF0;
	background-color:#0A36AF;
}
tr:nth-child(even){
	background-color:#FFF;
}



@media screen and (min-width:1280px) and (min-resolution:1dppx){
#videoContainerMobile{
	display:none;
}
aside{
	border-style:solid;
	border-color:#0A36AF;
	border-width:5px;
}	
	#hamburger-menu{
		display:none;
	}
	
	/*TICKET*/
	#napoli,#roma,#venice{
		width:300px;
	}
	table, th, td {
		border: 1px solid black;
	}
	th, td {
	padding: 15px;
	}

	#mainTicket{
		display:flex;
		flex-direction:row;
	}
	#redirectTicket{
		order:2;
		flex: 0 0 30%;
	}
	#table{
		flex: 0 0 70%;
		margin-right:20px;
		background-color:white;
		order:1;
		text-align:center;
	}
	
	/* CONTACT */
	
	form{
		float:left;
		width:60%;
		height:500px;
	}
	#redirect{
		float:right;
		width:30%;
	}
	.lables{
		float:left;
	}
	.inputs{
		display:block;
		
	}
	#submit{
		margin-top:15px;
	}
	#message{
		height:100px;
	}
	#contact{
		display:flex;
		flex-direction:column;
	}
	.imgRedi2{
		width:300px;
		margin-top:10px;
		}

	/*BEST DESTINATIONS */

	header{
		grid-area:headerTag;
	}
	nav{
		grid-area:navTag;
		
	}
	main{
		grid-area:sectionTag;
	}
	aside{
		grid-area:asideTag;
	}
	footer{
		grid-area:footerTag;
	}
		#bestDestinations{
		display:grid;
		grid-gap:10px;
		grid-template-areas:
		'headerTag	headerTag	headerTag	headerTag	headerTag	headerTag'
		'navTag	navTag	navTag	navTag	navTag	navTag'
		'sectionTag	sectionTag	sectionTag	sectionTag	sectionTag	sectionTag'
		'asideTag asideTag asideTag asideTag asideTag asideTag'
		'footerTag footerTag footerTag footerTag footerTag footerTag';
		
	}
	
	#articleMilano{
		grid-area: a;
	}
	#articleFirenze{
		grid-area: b;
	}
	#articlePalermo{
		grid-area: c;
	}
	#articleGenova{
		grid-area: d;
	}
	#articleCagliari{
		grid-area: e;
	}
	#articleTorino{
		grid-area: f;
	}
	
	#articlesBestDestinations
	    {
		display:grid;
		grid-gap:10px;
		grid-template-areas:
		
			'b b b a a d'
			'b b b a a d'
			'f f f a a d'
			'f f f a a e'
			'f f f a a e'
			'f f f a a e'
			'f f f g g g';	
		}
	#asideBestDestinations>ol>li{
		display:inline;
		margin:10px;	
	}
		#productsContainer{
		display:grid;
		grid-gap:10px;
		grid-template-columns: auto auto auto;
	}
	#product1{
		grid-column:1;
	}
	#product2{
		grid-column:2;
	}
	#product3{
		grid-column:3;
	}
		
		/*INDEX*/

	#index{
		display:flex;
		flex-direction:column;
	}
	#articles
	{
		width:100%;
		display:flex;
		flex-direction:row;
		
	}
	#products{
		flex-basis:60%;
		order:1;
	}
	#aside{
		order:2;
		margin-left:25px;
	}
	#articleNapoli
	{
		flex: 1 1 80%;
		order:1;
		display:flex;
		flex-direction:row;
	}
	#articleRoma
	{

		flex: 1 1 80%;
		order:2;
		display:flex;
		flex-direction:row;
	}
	#articleVenice
	{

		flex: 1 1 80%;
		display:flex;
		flex-direction:row;
	}
	nav
	{
		text-align:center;
	}
	.images{
		width:400px;
	}

	.IMG
	{
		order:2;
		justify-content:right;
	}
	.productText{
		display:flex;
		flex-direction:column;
	}

	#title
	{
		font-size:36px;
		text-align:center;	
	}
	#payoff
	{
		font-size:28px;
		text-align:center;
	}

	#bestDestinations
	{ 	
		flex:0 0 20%;
	}
	#copyright
	{
		text-align:center;
	}
	#cookie
	{
		position:fixed;
		bottom:10px;
		right:20px;
	}
	video{
		width:900px;
	}
	#videoContainer{
		display:flex;
		flex-direction:column;
	}


}
@media screen and (max-width:480px) and (max-resolution:3dppx){
	#videoContainer,#videoContainerMobile{
	display:none;
	}
	#aboutTicket{
		display:none;
	}
	#linkNapoli>img,#linkRoma>img,#linkVenice>img{
		width:200px;
	}
	/* TICKET */
	#ticket{
		display:flex;
		flex-direction:column;
	}
	nav{
		display:none;
	}
	table, th, td {
		border: 0.5px solid #000;
	}
	th, td {
	padding: 5px;
	}

	#mainTicket{
		flex-basis:100%;
		display:flex;
		flex-direction:column;
	}

	#redirectTicket{
		order:2;
		flex: 0 0 100%;
		
	}
	#redirectTicket>figure{
		display:flex;
		flex-direction:column;
	}
	#redirectTicket>figure>a>img{
		width:50%;
		margin:10px;
	}
	#mainTicket>#table{
		flex-basis:50%;
		margin-right:25px;
		background-color:white;
		order:1;
		text-align:center;
	}
	#mainTicket>#table
		/* CONTACT */
	
	
	form{
		float:left;
		width:100%;
		height:500px;
	}
	aside{
		float:left;
		width:100%;
	}
	.inputs{
		display:block;		
	}
	#submit{
		margin-top:15px;
	}
	#message{
		height:100px;
	}
	#navBar{
		display:none;
	}
	/*BEST DESTINATIONS*/
	#navBestDest{
		display:none;
	}
		header{
		grid-area:headerTag;
	}
	#hamburger-menu{
		grid-area:navTag;
	}
	section{
		grid-area:sectionTag;
	}
	aside{
		grid-area:asideTag;
	}
	footer{
		grid-area:footerTag;
	}
		#bestDestinations{
		display:grid;
		grid-gap:10px;
		grid-template-areas:
		
		'headerTag	headerTag	navTag'
		'sectionTag	sectionTag	sectionTag'
		'asideTag asideTag asideTag'
		'footerTag footerTag footerTag';
		
	}
	#articleMilano{
		grid-area: a;
	}
	#articleFirenze{
		grid-area: b;
	}
	#articlePalermo{
		grid-area: c;
	}
	#articleGenova{
		grid-area: d;
		display:none;
	}
	#articleCagliari{
		grid-area: e;
	}
	#articleTorino{
		grid-area: f;
		display:none;
	}
	#articlesBestDestinations
	{
		display:grid;
		grid-gap:10px;
		grid-template-areas:
		
		'e e'
		'c c'
		'b b'
		'a a';			
	}
	/*INDEX*/
	#index{
		display:flex;
		flex-wrap:wrap;
		
	}
	h1{
		text-align:center;
	}
	h2{
		text-align:center;
	}
	#navBar{
		display:none;
	}
	#cookie
	{
		position:fixed;
		bottom:10px;
		right:20px;
	}
	#articles{
		display:flex;
		flex-wrap:wrap;
		width:100%;
	}
	#articleNapoli{
		flex-basis:70%;
		flex-grow:1;
		flex-shrink:0;
		order:3;
		clear:both;
		display:flex;
		flex-direction:column;
	}
	#articleRoma{
		flex-basis:70%;
		flex-grow:1;
		flex-shrink:0;
		order:2;
		clear:both;
		display:flex;
		flex-direction:column;
	}
	#articleVenice{
		flex-basis:70%;
		flex-grow:1;
		flex-shrink:0;
		order:1;
		clear:both;
		display:flex;
		flex-direction:column;
	}
	#copyright{
		clear:both;
		text-align:center;
	}
	.images{
		width:200px;
	}
	.IMG{
		order:2;
		display:flex;
		flex-direction:column;
		text-align:center;
	}
	.productText{
		order:1;
		display:flex;
		flex-direction:column;
	}
	.copyArticle{
		order:1;
	}
    #hamburger-btn{
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    #hamburger-navigation{
        display: none;
        position: static;
        background-color: #f1f1f1;
        max-width:200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    #hamburger-navigation>a{
        color: black;
        text-decoration: none;
		text-align:left;
		margin-bottom:5px;
		font-family: 'Notable', sans-serif;
		font-size:18px;
        display: block;
    }
    #hamburger-navigation a:hover{
        background-color: #ddd;
    }
    #hamburger-menu:hover #hamburger-navigation{
        display: block;
    }

    #hamburger-menu:hover #hamburger-btn{
        background-color: #647be0;
    }
	#TOP{
		width:100%;
		display:flex;
		flex-direction:row;
	}
	#start{
		order:1;
		flex-basis:50%
	}
	#hamburger-menu{
		order:2;
		flex-basis: 50%;
        display: inline-block;
		
    }
	
}
@media screen and (min-width:481px) and (max-width:1279px) and (max-resolution:2dppx){
	#videoContainer{
		display:none;
	}
	#hamburger-menu{
		display:none;
	}
	/* TICKET */

		table, th, td {
		border: 1px solid black;
	}
	th, td {
	padding: 15px;
	}

	#mainTicket{
		display:flex;
		flex-direction:column;
	}
	#redirectTicket{
		order:2;
		flex: 1 1 100%;
		width:99%;
	}
	.imgRedi{
		width:40%;
	}
	#redirectTicket>figure{
		display:flex;
	}

	#table{
		flex: 0 0 100%;
		margin-right:20px;
		background-color:white;
		order:1;
		text-align:center;
	}
	#linkNapoli{
		display:none;
	}
	#capNapoli{
		display:none;
	}
	#linkRoma #capRoma{
		order:1;
		margin-left:50px;
	}
	#linkVenice #capVenice
	{
		order:2;
		margin-right:100px;
	}
	
		/* CONTACT */
		.imgRedi2{
		width:50%;
		margin-top:10px;
		}
	
	form{
		float:left;
		width:60%;
		height:500px;
	}
	aside{
		float:right;
		width:30%;
	}
	.lables{
		float:left;
	}
	.inputs{
		display:block;
		
	}
	#submit{
		margin-top:15px;
	}
	#message{
		height:100px;
	}
	
	/*BEST DESTINATIONS*/
	header{
		grid-area:headerTag;
	}
	nav{
		grid-area:navTag;
		text-align:center;
	}
	main{
		grid-area:sectionTag;
	}
	#asideBestDestinations{
		grid-area:asideTag;
		width:80%;
	}
	footer{
		grid-area:footerTag;
	}
		#bestDestinations{
		display:grid;
		grid-gap:10px;
		grid-template-areas:
		'headerTag	headerTag	headerTag	headerTag	headerTag	headerTag'
		'navTag	navTag	navTag	navTag	navTag	navTag'
		'sectionTag	sectionTag	sectionTag	sectionTag	sectionTag	sectionTag'
		'asideTag asideTag asideTag asideTag asideTag asideTag'
		'footerTag footerTag footerTag footerTag footerTag footerTag';
		
	}
	#articleMilano{
		grid-area: a;
	}
	#articleFirenze{
		grid-area: b;
	}
	#articlePalermo{
		grid-area: c;
	}
	#articleGenova{
		grid-area: d;
		display:none;
	}
	#articleCagliari{
		grid-area: e;
	}
	#articleTorino{
		grid-area: f;
	}
	
	#articlesBestDestinations
	    {
		display:grid;
		grid-gap:10px;
		grid-template-areas:
		
			'a b'
			'a b'
			'c b'
			'c e'
			'c e'
			'c e'
			'f f'
			'f f';	
		}
	
	#productsContainer{
		display:grid;
		grid-gap:10px;
		grid-template-columns: 25% 25% 25% auto;
	}
	#product1{
		grid-column:1/2;
	}
	#product2{
		grid-column:3/4;
	}
	#product3{
		display:none;
	}


	/*INDEX*/
	#index
	{
		display:flex;
		flex-direction:column;		
	}
	#articles{
		width:100%;
		display:flex;
		flex-direction:column;
		
	}
	#products{
		order:2;
		width:100%;
	}
	#aside{
		order:1;
		width:50%;
	}
	#articleNapoli
	{
		display:flex;
		flex-direction:row;
		flex:0 0 100%;
		order:3;
	}
	#articleRoma
	{
		display:flex;
		flex-direction:row;
		flex:0 0 100%;
		order:2;
	}

	#articleVenice
	{
		display:flex;
		flex-direction:row;
		flex:0 0 100%;
		order:1;
	}

	.IMG
	{
		width:40%;
		display:flex;
		flex-direction:column;
	}
	.images{
		min-width:200px;
		width:50%;
		margin-right:1px;
	}


	.captions
	{
		float:left;
		clear:both;
	}
	#title
	{
		font-size:36px;
		clear:both;
		text-align:center;	
	}
	#payoff
	{
		font-size:28px;
		clear:both;
		text-align:center;
	}
	footer
	{
		clear:both;
		text-align:center;
	}
	#cookie
	{
		position:fixed;
		bottom:10px;
		right:20px;
	}
	video
	{
		width:600px;
	}
	#linkNapoli
	{
		text-align:right;
	}
	#linkRome
	{
		text-align:right;
	}
	#linkVenice
	{
		text-align:right;
	}
	#textNapoli
	{
		width:500px;
		order:2;
		float:right;
	}
	#textRoma
	{
		width:500px;
		order:2;
		float:right;
	}
	#textVenice
	{
		width:500px;
		order:2;
		float:right;
	}
	.productText{
		display:flex;
		flex-direction:column;
	}
	.copyArticle{
		justify-content:end;
	}
	#bestDestinations{
		width:100%;
	}
	
	
}



  

